{# @var \App\Application\Sonata\NewsBundle\Entity\Post post #}

{% set post_url = url('sonata_news_view', { 'permalink': sonata_news_permalink(post) }) %}
{% set max_abstract_length = 900 %}

{#style="max-width: 540px;"#}
<div class="card mb-3" >
    <div class="row no-gutters">
        <div class="col-md-4">
            <a href="{{ post_url }}">
                {% media post.image, 'w500' with {'class': 'card-img', 'height': ''} %}
            </a>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><a href="{{ post_url }}">{{ post.title }}</a></h5>
                <p class="card-text">{{ post.abstract | truncate(max_abstract_length) }}</p>
                <p class="card-text">
                    <small class="text-muted">{% include "blog_post_metadata/01.html.twig" with {'post': post} only %}</small>
                </p>
            </div>
        </div>
    </div>
</div>
