{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        {% if mainTopPost %}
            {% include 'index/blog-post-big-preview.html.twig' with {'post': mainTopPost} only %}
        {%  endif %}

        {#<div class="row mb-2">#}
            {#{% for post in otherTopPosts %}#}
                {#{% include 'index/blog-post-preview-md-6.html.twig' with {'post': post} only %}#}
            {#{% endfor %}#}
        {#</div>#}
    </div>


    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8 blog-main">
                {#<h3 class="pb-3 mb-4 font-italic border-bottom">#}
                    {#From the Firehose#}
                {#</h3>#}

                {% for post in lastPosts %}
                    {% include "blog_post/01.html.twig" with {'post': post} only %}
                {% endfor %}

                <nav class="blog-pagination">
                    <a class="btn btn-outline-primary" href="#">Предыдущие</a>
                    <a class="btn btn-outline-secondary disabled" href="#">Новые</a>
                </nav>

            </div><!-- /.blog-main -->

            <aside class="col-md-4 blog-sidebar">
                <div class="p-3 mb-3 bg-light rounded">
                    <h4 class="font-italic">О блоге</h4>
                    <p class="mb-0">Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
                </div>

                <div class="p-3">
                    <h4 class="font-italic">Архив</h4>
                    <ol class="list-unstyled">
                        <li><a href="#">Март 2014</a></li>
                        <li><a href="#">Февраль 2014</a></li>
                        <li><a href="#">Январь 2014</a></li>
                        <li><a href="#">Декабрь 2013</a></li>
                    </ol>
                </div>
            </aside><!-- /.blog-sidebar -->

        </div><!-- /.row -->

    </main><!-- /.container -->


{% endblock %}
